@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
}

/* ancienne police = système */
body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

/* zéro arrondis */
input, select, textarea, button {
  border-radius: 0 !important;
}

.mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
